{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block main_content %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="post-title"> Наш адрес: </h2>
                    <h2 class="post-title">  </h2>
                    <p class="post-subtitle"> г. Москва, ул. Цирюльная, дом 13</p>
                    <a href="https://www.yelp.com/map/hi-tech-barber-shop-cupertino" > <img src="/static/assets/img/map.jpg" height="255"></a>
                    <!-- Divider-->
                    <hr class="my-4" />

                    <h2 class="post-title"> Телефон: </h2>
                    <h2 class="post-title">  </h2>
                    <p class="post-subtitle"> +7 495 333 22 11</p>

                 </div>
            </div>
        </div>

{% endblock %}


<!--https://www.yelp.com/map/hi-tech-barber-shop-cupertino-->